autocommand==2.2.2
cheroot==10.0.1
CherryPy==18.10.0
dnspython==2.6.1
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
more-itertools==10.4.0
portend==3.2.0
pymongo==4.8.0
python-dateutil==2.9.0.post0
setuptools==72.2.0
six==1.16.0
tempora==5.7.0
zc.lockfile==3.0.post1
pytest
python-dotenv
